### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt
log/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# Celery
celerybeat-schedule.db
tucat/celerybeat.pid
tucat/celeryev.pid
celerybeat.pid
celeryev.pid
celerybeat-schedule

# Django
tucat/application/migrations/
tucat/core/migrations/
tucat/twitter_extraction/migrations/
tucat/twitter_streaming/migrations/
tucat/users/migrations/

# RabbitMQ
tucat/rabbitmq-signing-key-public.asc

# Environment variables
.env

# Output
tucat/output/

# Fixtures
config/fixtures/account.json
config/fixtures/users.json
config/fixtures/socialaccount.json

# Tucat
tucat/twitter_extraction/
tucat/twitter_streaming/
