git+https://github.com/Supervisor/supervisor
gunicorn
psycopg2-binary
git+https://github.com/celery/celery
Django
django-allauth
django-braces
git+https://github.com/celery/django-celery-beat
git+https://github.com/celery/django-celery-results
django-crispy-forms
django-environ
pymongo
whitenoise
django-admin-interface
flower
django-debug-toolbar
django-extensions
