git+https://github.com/Supervisor/supervisor
gunicorn
psycopg2
celery
Django
django-allauth
django-braces
django_celery_beat
django-celery-results
django-crispy-forms
django-environ
pymongo
whitenoise
django-admin-interface
