{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
	  <h1>Welcome to TuCat</h1>

      {% load socialaccount %}
      <ol>
		  <h3><li><a href="{% provider_login_url "twitter" %}">Login with Twitter</a></h3></li>
		  {% if socialaccount.providers  %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% trans 'or' %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% endif %}
	  
	  <h3><li><a href="{% url 'account_login' %}">Login with your account</a></h3>
  </ol>
    </div>
  </div>
</div>
{% endblock %}

